 *{
	padding:0px;
	margin:0px;
 }

 .postIt
 {
	background-image: url("../images/post-it.png");
	transform: rotate(-20deg);
	background-repeat:no-repeat;
	position: absolute;
	width:205px;
	height:205px;
	padding:50px;
 }

 #container
 {
	background-color:palegreen;
 }

 #thePosts
 {

 }

 div
 {
	padding: 5px;
 }

 .form-label
 {
	display:inline;
 }

 .form-input
{
	display:inline;
}