* {
	padding:0;
	margin:0;
}

html, body {
	font-family:Verdana;
}

h1 {
	color:#333;
	font-size:16px;
	text-align:center;
	margin-bottom:25px;
	margin-top:15px;
}

.clear {
	clear:both;
}

.formInput {
	float:left;
	width:400px;
	height:300px;
}
.input{
	width:400px;
	height:300px;
	text-align: start;
}
.formSeparator {
	clear:both;
	height:10px;
}

.sectionPage {
	width:400px;
	margin:50px auto;
	padding:10px;

}
