* {
	margin:0px;
	padding:0px;
}

html {
	font-family:Verdana;
	font-size:13px;
	color:#333;
	background-color:white;
	background-image:url('../images/gradient.jpg');
	background-position:top left;
	background-repeat:repeat-x;
}

h1 {
	font-size:1.3em;
}

h2 {
	margin-top:20px;
	font-size:1.1em;
}

p {
	margin-bottom:10px;
	margin-top:10px;
}

a {
	color:#5e5e5e;
}

a:hover {
	text-decoration:none;
}

.clear {
	clear:both;
}

.site-container {
	background-image:url('../images/water.jpg');
	background-position:bottom left;
	background-repeat:repeat-x;
}

.page-container {
	background-image:url('../images/container.png');
	min-height:610px;
	width:864px;
	background-repeat:no-repeat;
	padding:20px;
	margin:20px auto;
}

.page-content {
	margin-top:30px;
}

.page-title-section {
	float:left;
	width:400px;
	padding-left:130px;
	padding-top:25px;
	height:95px;
	background-image:url('../images/earth.png');
	background-position:0% 50%;
	background-repeat:no-repeat;
}

.menu-section {
	float:right;
	width:300px;
	margin-top:25px;
	text-align:right;
}

.menu-section ul  li{
	display:inline;
	list-style-type:none;
}


/* -------------------------------------------------------------------- */
/* Index page                                                           */
/* -------------------------------------------------------------------- */

#page-index img {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid #333;
}


/* -------------------------------------------------------------------- */
/* Images page                                                          */
/* -------------------------------------------------------------------- */

#page-images {

}

#page-images ul {
	list-style: none;
}

#page-images ul li {
	display: inline;
}
#page-images ul img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}

#page-images ul a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}

#page-images ul a:hover {
	color: #fff;
}

/* -------------------------------------------------------------------- */
/* Contact page                                                         */
/* -------------------------------------------------------------------- */

#page-contact {
	padding-right:300px;
	height:350px;
	background-image:url('../images/glass.png');
	background-position:100% 50%;
	background-repeat:no-repeat;
}


/* -------------------------------------------------------------------- */
/* Login page                                                         */
/* -------------------------------------------------------------------- */


#page-login {
	padding-right:300px;
	height:350px;
}

.form-label {
	float:left;
	width:150px;
}

.form-input {
	float:left;
	width: 150px;
}

.form-separator {
	clear: both;
	height:10px;
}