* {
	padding:0;
	margin:0;
}

html, body {
	font-family:Verdana;
}

h1 {
	color:#333;
	font-size:16px;
	text-align:center;
	margin-bottom:25px;
	margin-top:15px;
}

.clear {
	clear:both;
}

.formLabel {
	float:left;
	width:180px;
	text-align:right;
	padding-right:5px;
}

.formInput {
	float:left;
	width:180px;
}

.formSeparator {
	clear:both;
	height:10px;
}

.sectionAuthentification {
	width:400px;
	margin:150px auto;
	border-radius: 5px;
	border:1px solid #aaa;
	padding:10px;
	padding-top:150px;
	background-image:url('../images/private.png');
	background-repeat:no-repeat;
	background-position:50% 10%;
}

.memoBox {
	position: absolute;
	width:300px;
	height:50px;
	background-image:url('../images/post-it.png');
	background-repeat:no-repeat;

}