* {
	margin: 0;
	padding:0;
}

html {
	height: 100%;
	background-size:cover;
	background-position: 50% 50%;
	font-family: Verdana;
	font-size: 13px;
}

h1 {
	margin-bottom: 10px;
	border-bottom:1px solid white;
}

h2 {
	margin-bottom: 10px;
	margin-top: 20px;
}

p {
	margin-top: 5px;
	margin-bottom: 10px;
}

.main-content {
	color:white;
	margin-top:30px;
}

.container {
	margin:0px auto;
	width: 900px;
	text-align: justify;
}

#todo {
	position: fixed;
	bottom:0;
	border-top:5px solid black;
	background-color: white;
	padding:20px 0;
	width: 100%;
	color:black;
	font-size: 0.9em;
}

.form-section {
	border:2px solid white;
	padding:10px;
	border-radius: 3px;
	margin-top: 20px;
}

ol {
	list-style-position: inside;
}

.note {
	font-size: 0.8em;
	color:#777;
	margin-top: 10px;
}

.para {
	color:white;
	margin-top: 10px;
}

#todo .container>div {
	margin-bottom: 10px;
}