* {
	margin:0px;
	padding:0px;
}

html {
	font-family:Verdana;
	font-size:13px;
	color:#333;
	background-color:#555;
}

h1 {
	font-size:1.3em;
}

h2 {
	margin-top:20px;
	font-size:1.1em;
}

p {
	margin-bottom:10px;
	margin-top:10px;
}

a {
	color:#5e5e5e;
}

a:hover {
	text-decoration:none;
}

.clear {
	clear:both;
}

.page-container {
	background-image:url('../images/container.png');
	min-height:610px;
	width:864px;
	background-repeat:no-repeat;
	padding:20px;
	margin:20px auto;
}

.page-content {
	margin-top:30px;
}

.page-title-section {
	float:left;
	width:500px;
	padding-left:130px;
	padding-top:55px;
	height:45px;
	background-image:url('../images/dollar-icon.png');
	background-position:0% 50%;
	background-repeat:no-repeat;
}


/* -------------------------------------------------------------------- */
/* privee page                                                          */
/* -------------------------------------------------------------------- */

#page-solde div {
	margin-top:20px;
	margin-bottom:20px;
}

#page-solde table {
	width:80%;
	border:1px solid #777;
	border-collapse: collapse;
	padding:5px;
	margin:0px auto;
}

#page-solde table td {
	padding-left:5px;
}









