* {
	margin:0;
	padding:0;
}

html {
}

input[type=text] {
	width:500px;
	border:2px solid #888;
	border-radius:4px;
	padding:3px;
	color:#555;
}

input[type=image] {
	width:30px;
}

#search-line {
	width:500px;
	margin:20px auto;
}

.btn {
	margin-top:10px;
	text-align: center;
}

.clear {
	clear:both;
}

#analyze-result {
	visibility: hidden;
	text-align: center;
}

#analyze-icon {
	display: block;

	background-image: url('../images/analyze.gif');
	height:400px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}