* {
	margin: 0;
	padding: 0;
}

html {
	background-image: url('../images/bg.jpg');
	background-position: 50% 50%;
	background-size: cover;
	height: 100%;
}

#container {
	width: 600px;
	margin: 15% auto;
}

#controls {
	left:50%;
	margin-left:-300px;
	padding:10px;
	width: 580px;
	text-align: center;
	position: absolute;
	top:30px;
	border-radius: 5px;
	background-color: white;
}

#controls input, 
#controls button {
	width:80px;
	font-size: 20px;
	text-align: center;
}