* {
	margin:0px;
	padding:0px;	
}

h1 {
	color: #4E7EAD;
	display:none;
}

.container {
}

.item {
	border-left:5px solid #4E7EAD;
	border-bottom:1px solid #4E7EAD;
	margin-left:10px;
	margin-bottom:2px;
	width:400px;
	padding:3px;
	display:none;
	font-size:15px;
	position:relative;
}