* {
	margin:0;
	padding:0;
}

.container {
	position:relative;
	width:450px;
	margin:0px auto;
	height:300px;
	border:1px solid black;
	background-image:url('../images/field.jpg');
}

.ball {
	position:absolute;
	top:5px;
	width:64px;
	height:64px;
	background-image:url('../images/ball.png');
}