* {
	margin:0;
	padding:0;
}

html, body {
	background-color: #337;
	height: 100%;
}

.frame {
	width: 640px;
	height: 480px;
	margin:50px auto;
}

#frame-1 {
	background-image: url('../images/intro.jpg');
}

#frame-2 {
	background-image: url('../images/dungeon.jpg');
	display:none;
}

#frame-3 {
	background-image: url('../images/gameover.png');
	display:none;
}

#frame-1 p {
	color:white;
	text-align: center;
	font-weight: bold;
	padding-top:10px;
}