
* {
	margin:0px;
	padding:0px;
}

html, body {
	font-size:11px;
	font-family:Verdana;
	background-color:#eeeeee;
}

.clear {
	clear:both;
}

.siteCenter {
	margin:0 auto;
	width:960px;
}


a {
	color:#003399;
	text-decoration:none;
}

a:visited {
	color:#003399;
}

a.topMenuLink {
	color:#43a2d2;
	font-weight:bold;
	text-decoration:none;
}


.headerDiv {
	border-bottom:3px solid #43a2d2;
	background-color:#ffffff;
}

.mainDiv {
	background-color:#dddddd;
	padding:10px;
	padding-bottom:30px;
}

.topMenuDiv {
	background-image: url('../images/logo.png');
	background-position: 30px 50%;
	background-repeat:no-repeat;
	padding-top:15px;
	height:40px;
}

.topMenuTitle {
	float:left;
	width:400px;
	text-indent:-3000px;
}

.topMenuSubDiv {
	float:left;
	margin-top:10px;
}

.topMenuSubDiv ul li {
	display:inline;
	list-style-type:none;
	padding-top:10px;
	padding-bottom:10px;
}

.topMenuSubDiv ul li a {
	padding-right:5px;
	border-right:1px solid black;
}

.topMenuSubDiv a.noBorder {
	border:0px solid;
}

.langOption {
	background-image: url('../images/map.jpg');
	background-position: 30px 50%;
	background-repeat:no-repeat;
	padding-left:70px;
}

.mainSection {
	border:1px solid #aaaaaa;
	background-color:white;
	padding:20px;
	width:860px
}

/* ----------- DESCRIPTION ---------------- */

.descriptionDiv {
	float:left;
	width:480px;
}

.motivationSection {
	color:#43a2d2;
	font-size:18px;
	font-weight:bold;
	line-height:30px;
}

.desc {
	background-position: 0px 50%;
	background-repeat:no-repeat;
	padding-left:70px;
	color: #999999;
	font-size:12px;
	font-weight:bold;
	margin-bottom:30px;
	height:25px;
}

.descGroupDiv {
	margin-top:10px;
}
.desc1 {
	background-image: url('../images/home1.png');
}

.desc2 {
	background-image: url('../images/home4.png');
}

.desc3 {
	background-image: url('../images/home3.png');
}

/* ---------- LOGIN ------------- */

.loginDiv {
	float:left;
	padding-left:50px;
}

.loginHeaderDiv {
	width:310px;
	line-height:27px;
	color:white;
	font-weight:bold;
	font-size:13px;
	text-align:center;
	background-image: url('../images/border-top.png');
	background-position: 0px 50%;
	background-repeat:no-repeat;
}

.loginFormDiv {
	border:1px solid #aaaaaa;
	padding:10px;
	padding-bottom:0px;
	min-height:200px;


}


/* ----------- SEARCH -------- */

.searchDiv {
	margin-top:25px;
	margin-left:15px;
	margin-right:15px;
	border-top:1px solid #aaaaaa;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left:100px;
	padding-right:100px;
}

.searchByName {
	float:left;
	margin-right:15px;
	padding-top:3px;
}

.searchUser {
	font-weight:bold;
	font-size:15px;
	color:#444444;
}

.searchInput {
	color:#aaaaaa;
}

.searchOkBtn {
	float:left;
}

.letterDesc {
	font-weight:bold;
	color:#aaaaaa;
	font-size:10px;
}

.letterSearch {
	text-align:center;
	margin-top:20px;
}

/* ----------- CONDITION -------- */

.conditionDiv {
	margin-top:25px;
	margin-left:15px;
	margin-right:15px;
	border-top:1px solid #aaaaaa;
	padding-bottom: 10px;
	padding-top: 10px;
	color:#555555;
	font-size:9px;
}

/* ----------- FOOTER --------------- */

.footerDiv {
	border-top:3px solid #aaaaaa;
	height:40px;
	padding-top:20px;
}

.society {
	font-weight:bold;
	color:#555555;
	float:left;
	padding-left:30px;
	width:85px;
}

a.footerLink {
	color:#305f9e;
	font-size:13px;
}

.boldLink {
	font-weight:bold;
}


.footerDiv ul li {
	display:inline;
	list-style-type:none;
	padding-top:10px;
	padding-bottom:10px;
}

.footerDiv ul li a {
	padding-right:5px;
	border-right:1px solid black;
}

.footerDiv a.noBorder {
	border:0px solid;
}

.forme-line{
	display: flex;
	justify-content: flex-end;

	padding: 5px;
	padding-right: 20px;
}
