* {
	margin:0;
	padding:0;
}

html, body {
	background-color: #337;
	height: 100%;
}

.info {
	text-align:left;
	margin-left: 350px;
}

.frame {
	width: 665px;
	height: 372px;
	margin:50px 200px;
	position:relative;
	/* overflow:hidden; */
}

#frame-1 {
	background-image: url('../images/homepage.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

}

#frame-2 {
	background-image: url('../images/terrain.png');
	display:none;
	background-repeat: no-repeat;
	background-size: cover;
}

#frame-3 {
	background-image: url('../images/dead.jpg');
	display:none;
	background-repeat: no-repeat;
	background-size: cover;
}


.gun {
	position: absolute;
	background-image:url('../images/cible.png');
	background-size: cover;
	width:75px;
	height:75px;
}

.duck {
	position:absolute;
}

.duck_1 {
	background-image:url('../images/duck/duck_1.png');
	background-size:cover;
	width:60px;
	height:60px;
}

.duck_2 {
	background-image:url('../images/duck/duck_2.png');
	background-size:cover;
	width:60px;
	height:60px;
}

.duck_3 {
	background-image:url('../images/duck/duck_3.png');
	background-size:cover;
	width:60px;
	height:60px;
}

.angleduck_1 {
	background-image:url('../images/duck/angleduck_1.png');
	background-size:cover;
	width:60px;
	height:60px;
}

.angleduck_2 {
	background-image:url('../images/duck/angleduck_2.png');
	background-size:cover;
	width:60px;
	height:60px;
}

.angleduck_3 {
	background-image:url('../images/duck/angleduck_3.png');
	background-size:cover;
	width:60px;
	height:60px;
}

.deadduck_1 {
	background-image:url('../images/duck/deadduck_1.png');
	background-size:cover;
	width:60px;
	height:60px;
}

.deadduck_2 {
	background-image:url('../images/duck/deadduck_2.png');
	background-size:cover;
	width:60px;
	height:60px;
}
